<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>WebPJ</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ShowMangaServlet</display-name>
    <servlet-name>ShowMangaServlet</servlet-name>
    <servlet-class>controller.showservlet.ShowMangaServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ShowIndexServlet</display-name>
    <servlet-name>ShowIndexServlet</servlet-name>
    <servlet-class>controller.showservlet.ShowIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SortCategoryServlet</display-name>
    <servlet-name>SortCategoryServlet</servlet-name>
    <servlet-class>controller.SortCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>controller.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ShowSavedListServlet</display-name>
    <servlet-name>ShowSavedListServlet</servlet-name>
    <servlet-class>controller.showservlet.ShowSavedListServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SaveMangaServlet</display-name>
    <servlet-name>SaveMangaServlet</servlet-name>
    <servlet-class>controller.SaveMangaServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteFromListServlet</display-name>
    <servlet-name>DeleteFromListServlet</servlet-name>
    <servlet-class>controller.DeleteFromListServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ShowChapterServlet</display-name>
    <servlet-name>ShowChapterServlet</servlet-name>
    <servlet-class>controller.showservlet.ShowChapterServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PostRateServlet</display-name>
    <servlet-name>PostRateServlet</servlet-name>
    <servlet-class>controller.PostRateServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ShowUserRateListServlet</display-name>
    <servlet-name>ShowUserRateListServlet</servlet-name>
    <servlet-class>controller.showservlet.ShowUserRateListServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ShowMangaRateListServlet</display-name>
    <servlet-name>ShowMangaRateListServlet</servlet-name>
    <servlet-class>controller.showservlet.ShowMangaRateListServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ShowRatingPageServlet</display-name>
    <servlet-name>ShowRatingPageServlet</servlet-name>
    <servlet-class>controller.showservlet.ShowRatingPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteRatingServlet</display-name>
    <servlet-name>DeleteRatingServlet</servlet-name>
    <servlet-class>controller.DeleteRatingServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ShowSearchPageServlet</display-name>
    <servlet-name>ShowSearchPageServlet</servlet-name>
    <servlet-class>controller.showservlet.ShowSearchPageServlet</servlet-class>
  </servlet>
  
</web-app>